header {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 160px; 
}

h1 {
    font-family: 'News Cycle', sans-serif ;
    font-size: 50px;
    color: #B2D2DD;
}

h2 {
    color: #364A30;
}

body {
    background-color: #DDD3B2 ;
}

main {
  padding: 20px;
}

search input[type=text] {
    float: right;
    padding: 15px;
    border: none;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
}

.row {
  padding: 20px;
}
  

  .box { 
    margin: 20px;
    flex: 1;
 }

 

  /*
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
